<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="djs.com.happysharebuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />




    <application
        android:name=".HSBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.setting.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.input.SelectAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.SearchClientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.ClientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.AddRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.ModifyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.client.LargerPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="djs.com.happysharebuy.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fd9f8bec48fdb61e39adc4c574e66d52" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>